
    <div class="row">
      <div class="column">
        <div class="signincard center">
          <h1>Product</h1>
            <p>
              <strong>User:</strong>
              <%= @product.user.email %>
            </p>
            
            <p>
              <strong>Name:</strong>
              <%= @product.name %>
            </p>
            
            <p>
              <strong>Likes:</strong>
              <%= @likes %>
            </p>
            
            <p>
              <strong>Description:</strong>
              <%= @product.description %>
            </p>
            
            <p>
              <strong>Images:</strong>
              <%= image_tag(@product.images.url, alt: 'Image') if @product.images? %>
            </p>
            
            <p>
              <strong>Video:</strong>
              <%= @product.video %>
            </p>
            
            <p>
              <strong>Category:</strong>
              <%= @product.category %>
            </p>
            
             <% if @product.funding %>
            <p>
              <strong>Funding:</strong>
              <%= @product.funding %>
            </p>
            
            <p>
              <strong>Goal amount:</strong>
              <%= @product.goal_amount %>
            </p>
            
            <p>
              <strong>Due date:</strong>
              <%= @product.due_date %>
            </p>
            
            <% end %>
            
            <%= link_to 'Edit', edit_product_path(@product) %> |
            <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |
            <%= link_to 'Back', products_path %>
             
        </div>
      </div>
     </div>
    
