<!DOCTYPE html>
<html>
  <head>
    <title>Likelionslectur</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
      <a href="/products"><%= image_tag("studiofund.png", height: '90', width: '140', alt: "Image", class:"center-block") %></a>
        <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-nav navbar text-uppercase logocenter">
              <% if user_signed_in? %>
                <div class="nav-item">
                  <a class="nav-link button" href="/aboutus"> About us </a>
                  <a class="nav-link button" <%= link_to 'New Product', new_product_path %> </a>
                  <a class="nav-link button" href="/myaccount"> My Account </a>
              <% else %>
                  <a class="nav-link button" <%= link_to 'Sign in', new_user_session_path %>> Sign In</a>
              <% end %>
                <a class="nav-link button" href="/contact_email">Contact</a>
              </div>
            </div>
          </div>
         </nav>
    <%= yield %>
  </body>
</html>
